<div class="container__big-card">
    <div class="big-card__picture">
      <img
        src="https://testing-angular.com/assets/img/code-coverage-photo-item-uncovered.png"
        alt=""
        height="200px"
      >
    </div>
    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
      <p>
        <a href="">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur vel dicta maiores minus magnam aspernatur porro corporis a vero distinctio dolorum eveniet eaque, illo possimus praesentium, eius excepturi cum ipsa.
        </a>
      </p>
    </div>
</div>
